name: build and publish container image
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - 'Dockerfile'

env:
  TARGET_IMAGE: ghcr.io/sarisia/mikanos

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: sarisia
          password: ${{ github.token }}
      - uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64
      - name: build
        run: docker buildx build -t ${{ env.TARGET_IMAGE }}:${{ matrix.arch }} --platform linux/${{ matrix.arch }} --build-arg BASE_IMAGE=${{ matrix.base_image }} --push ${{ matrix.arch }}
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: ghcr.io/sarisia/mikanos (${{ matrix.arch }})

  manifest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: sarisia
          password: ${{ github.token }}
      - name: amend manifest
        run: |
          docker manifest create ${{ env.TARGET_IMAGE }}:latest \
          --amend ${{ env.TARGET_IMAGE }}:arm64 \
          --amend ${{ env.TARGET_IMAGE }}:amd64 && \
          docker manifest push ${{ env.TARGET_IMAGE }}:latest
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: ghcr.io/sarisia/mikanos (amend)
